body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

}
/* navbar */
header{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.navbar{
     display: flex;
    justify-content: space-between;
    justify-items: center;
    
    width: 1022px;
    
}
.navbar .res{
    display: none;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding-right: 20px;
    
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.top-title{
    margin-top: 20px ;
    margin-bottom: 20px ;
}
/* 1st article */

.upper-container{
    display: flex;
    align-items: center;
    
    margin-bottom: 10px;
}
.info-part{
    width: 582px;
    margin-right: 20px;
}
.info-part > h1{
    font-size: 52px;
    font-weight: 700;
}
.info-part > p{
    font-size: 16px;
    font-weight: 600;
}
.image-part{
    width: 440px;
    height: 414px;
}
.image-part:hover{
    transform: scale(1.1);
    transition: transform 1.5s ease-in-out;
}

.button{
    border-radius: 20px;
    background-color: #E02C6D;
    padding-left: 25px;
    padding-top: 12px;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 18px;
    
}
.button a{
    text-decoration: none;
    color: white;
}
.button a i{
    margin-left: 5px;
}



.end-button{
    display: flex;
   
    width: 1022px;
    flex-direction: row-reverse;
}

.button1{
    border-radius: 20px;
    
    padding-left: 25px;
    padding-top: 12px;
    width: 120px;
    height: 40px;
    font-size: 18px; 
}
.button1 a{
    text-decoration: none;
    color: #E02C6D;
    
}



/* Company Logos */
hr{
    width: 50%;
    border: .5px solid #C0CCDA;
    margin-bottom: 20px;
}
.image-container{
    display: flex;
}
.image-container>.logos{
    margin: 20px 20px;
}

/* product list */
.prod-collection{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.Product-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px ;
}
.product{
    width: 317px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 10px 10px 100px lightgrey;
}
.Product-list .product-banner img{
    width :300px;
    height:256px;
}
.rating-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;

}
.fa-star-half-alt{
    color:#FFC014;
    font-size: 12px;
}
.product-info{
    color: #787885;
}

/* ending- Article */
.ending{
    display: flex;
    width: 1022px;
}
.ending-image{
    width: 404px;
    height: 270px;
    margin-right: 25px;
}

/* footer design */
footer{
    background-color: #0A0826;
}
.footer-head{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 25px;
    color: white;
}
.footer-head h3{
    margin-bottom: 0px;
}
.footer-head p{
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;

}
.icons{
    display: flex;

}
.icon{
    margin-right: 10px;
}
.icon a{
    color: white;
}



/*---------------Media Query ---------------*/

/* Mobile Devices */
@media only screen and (max-width:688px){ 
     .res{
        display: block;
    }
    .navbar ul{
        display: none;
    }
    .Section-title{
        text-align: center;
    }
    .Product-list{
         margin-left: 10%;
         
    }
    .product{
        margin-bottom: 20px;
    }
    .Product-list{
      
        grid-template-columns: repeat(1,1fr);
        
        align-items: center;
    }
    .upper-container{
        width: 80%;
        flex-direction: column-reverse;
    }
    .upper-container .info-part{
        width: 80%;
    }
    .upper-container .info-part h1{
        font-size: 36px;
    }
    .upper-container, .image-container{
        flex-direction: column;
        width: 80%;
    }
    
    .main{
        width: 100%;
    }
    
    
}

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {

   .Section-title{
        text-align: center;
        margin-bottom: 50px;
    }
    .courses{
         margin-left: 10%;
         
    }
    .course{
        margin-bottom: 20px;
    }
    .blog{
        margin-left: 10%;
    }
    .players, .blogs, .courses{
      
        grid-template-columns: repeat(2,1fr);
        
        align-items: center;
    }
    .player, .logos, .course{
        flex-direction: column;
    }
    
    .container{
        width: 100%;
        
    }
}